
Demo1/.idea/

Demo1/.vs/

Demo1/Binaries/

Demo1/Config/

Demo1/Intermediate/

Demo1/Saved/

Demo1/Source/

Demo1/.vsconfig

Demo1/Demo1.sln

Demo1/Demo1.sln.DotSettings.user

Demo1/Demo1.uproject

Demo1/Content/

Demo1/Plugins/MyPlugin/

Demo1/Plugins/Trace/Binaries

Demo1/Plugins/Trace/Intermediate

Demo1/Plugins/Backpack/Binaries/

Demo1/Plugins/Backpack/Intermediate/

Demo1/Plugins/GeneralLibrary/Binaries/

Demo1/Plugins/GeneralLibrary/Intermediate/

Demo1/Plugins/Items/Binaries/

Demo1/Plugins/Items/Intermediate/

Demo1/TempFiles/

Demo1/Plugins/DevDiary/Intermediate/

Demo1/Plugins/DevDiary/Binaries/
